---
---
<footer>
  <div class="footer--container">
    <h2>Built by<br>Yann Durandet</h2>
    <div class="links">
      <a href="https://x.com/YannDurandet" class="footer--link" target="_blank" rel="noopener">-- X</a>
      <a href="https://instagram.com/durandet.studio" class="footer--link" target="_blank" rel="noopener">-- IG</a>
      <a href="https://github.com/YannDurandet" class="footer--link" target="_blank" rel="noopener">-- GitHub</a>
      <a href="https://durandet.studio" class="footer--link" target="_blank" rel="noopener">-- Website</a>
    </div>
  </div>
</footer>
