---
interface Props {
  activePage: 'calendar' | 'series' | 'tracks';
}
const { activePage } = Astro.props;
---
<nav class="site-nav">
  <a href={`${import.meta.env.BASE_URL}/`} class:list={["site-nav-link", { active: activePage === 'calendar' }]}>Calendar</a>
  <a href={`${import.meta.env.BASE_URL}/series`} class:list={["site-nav-link", { active: activePage === 'series' }]}>Series</a>
  <a href={`${import.meta.env.BASE_URL}/tracks`} class:list={["site-nav-link", { active: activePage === 'tracks' }]}>Tracks</a>
</nav>
